extends ../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial de EDboilerplate'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  include ../includes/main-menu
block content
  h1.fade-in Hello Word
  h2 Hola mundo
  p saludos
  p Hello word
  h4 Saludos
