// Fadein (aparecer)
@mixin fadeIn($time) {
  animation: fadein $time forwards;

  @keyframes fadein{
    from {
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
}


// Fadeout (desaparecer)

@mixin fadeOut($time) {
  animation: fadeout $time forwards;

  @keyframes fadeout{
    from {
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }
}

// aplica la animacion a las clases predeterminadas

.fadein, .fade-in { @include fadeIn(1s) }
.fadeout, .fade-out { @include fadeOut(1s) }
