// slide left
@mixin slideLeft($time) {
  animation: slideLeft $time forwards;
  @keyframes slideLeft {
    from{
      transform: translate3d(-100%, 0, 0);
    }
  }
}
// slide righ
@mixin slideRight($time) {
  animation: slideRight $time forwards;
  @keyframes slideRight {
    from{
      transform: translate3d(100%, 0, 0);
    }
  }
}
// slide top
@mixin slideTop($time) {
  animation: slideTop $time forwards;
  @keyframes slideTop {
    from{
      transform: translate3d(0, -100, 0);
    }
  }
}
// slide bottom
@mixin slideBottom($time) {
  animation: slideBottom $time forwards;
  @keyframes slideBottom {
    from{
      transform: translate3d(0, 100%, 0);
    }
  }
}

// slide down
@mixin slideDown($time, $height: 1000px) {
  max-height: 0;
  overflow: hidden;
  animation: slideDown $time forwards;
  @keyframes slideDown {
    to{
      max-height: $height;
    }
  }
}

// slide Up
@mixin slideUp($time, $height) {
  max-height: $height;
  overflow: hidden;
  animation: slideUp $time forwards;
  @keyframes slideUp {
    to{
      max-height: 0;
    }
  }
}

$time: 1s;
.slideleft, .slide-left { @include slideLeft($time) }
.slideright, .slide-right { @include slideRight($time) }
.slidetop, .slide-top { @include slideTop($time) }
.slidebottom, .slide-bottom { @include slideBottom($time) }
.slidedown, .slide-down { @include slideBottom($time) }






































